# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MasterSpark.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\UserData\InteliJ\RiderProjects\MasterSpark\.idea\.idea.MasterSpark\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
